<!--

<form action="/users" method="post" accept-charset="UTF-8" >

	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

	<label for="user_username">Name</label>
	<input type="text" name="user[username]" id="user_username" />

	<label for="user_email">Email</label>
	<input type="text" name="user[email]" id="user_email" />

	<label for="user_password">Password</label>
	<input type="password" name="user[password]" id="user_password" />	

	<input type="submit" value="Create" />
</form>
-->



<%= render "application/flash_partial" if !flash.empty? %>

<%= form_for @user do |f| %>
	<%= f.label :username, value: "Your username here" %>
	<%= f.text_field :username, value: "username" %>

	<%= f.label :email %>
	<%= f.text_field :email %>

	<%= f.label :password %>
	<%= f.password_field :password %>

	<%= f.submit %>
<% end %>



